.header {
    position: fixed;
    width: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 10002;
    top: 0;
    height: 60px;

    .logo {
        background: url("../images/common/logo.png") no-repeat;
        z-index: 10002;
        height: 50px;
        background-size: 190px;
        width: 94%;
        margin: auto;
        max-width: 640px;
        margin-top: 11px;
    }

    .open {
        background: url("../images/common/open.png") no-repeat;
        top: 0;
        right: 0;
        height: 40px;
        background-size: 70px;
        width: 70px;
        margin: auto;
        margin-top: 3px;
    }
}
