//全局变量
@fontSizeS: 12px;
@fontSizeM: 16px;
@fontSizeB: 18px;

@fontColor: #082441;
@bodyColor: #f4f6f9;
@timeColor: #aaafb5;
@audioColor: #e78002;

@fontAtColor: #8b572a;
@youBgColor: #e9ebf0;
@bubbleBorderColor: rgba(0, 0, 0, 0.05);

@AvatarBorderRadius: 5px;

@AvatarS: 30px;
@AvatarM: 40px;

//圆角
@messageBorderRadius: 4px;
@borderRadius: 4px;

//尺寸
@userMeAvatar: 45px;

//color

@primaryColor: #007ddb;
@msgDateColor: #bbb;
@receiveColorBg: #fff;
@receiveColor: #000;
@msgLinkColor: @primaryColor;
@msgYouBorderColor: #aeaeb6;
@sendColorBg: #f3f3f3;
@sendColor: #000;

