//全局变量

@bodyColor: #f5f6fa;

@screeSmall: 768px;

@topBarHeight: 50px;
@toolSliderWidth: 58px;

@borderRadius:4px;
@cardBorderRadius: 6px;
@messageBorderRadius: 20px;

//左侧列表
@toolbarWidth: 250px;

//右侧会话
@sessionTitleHeight: 50px;

//右侧会话信息栏
//@sessionInfoWidth: 250px;
@sessionInfoWidth: 360px;

@selectHeight:60px;

//输入框
@sendBoxHeight: 150px;
@sendToolbarHeight: 40px;
@sendTipHeight: 32px;
@sendInputHeight: @sendBoxHeight - @sendToolbarHeight - @sendTipHeight;

//color
@unreadColor: #ff0000;
@primaryColor: #007ddb;
@error: #e94218;
@success: #3db155;
@chatPanelColor: #FFF;
@notifyBgColor: #fffce1;
@vip: #f6bc2e;

//消息面板
@separatorColor: rgba(201, 201, 201, 0.3);
//@msgDateColor:rgba(255, 255, 255, 1);
@msgDateColor:#bbb;
@msgDateBg:rgba(0, 0, 0, 0.12);

//接受的消息
@bubbleBorderColor: #ccc;
@receiveColorBg: #fff;
@receiveColor: #000;
@msgLinkColor: @primaryColor;
@msgYouBorderColor:#aeaeb6;

//发送的消息
//@sendColorBg: rgb(66,165,245);
@sendColorBg: #f3f3f3;
//@sendColor: #FFF;
@sendColor: #000;

//消息输入框
@shortTipColor: rgba(0, 0, 0, 0.35);

//左侧面板
@panelBg: #424954;
@panelColor: #FFF;
@searchBoxBgColor:#2e343c;
@sessionNavHover: rgba(255, 255, 255, .08);
@sessionNavActive: rgba(255, 255, 255, .2);
@panelSeparator: rgba(242, 244, 248, 0.15);

//进度条
@progressColor: #3db155;
@progressBgColor: #d6d6d6;


@centerMargin: 18px;
