@import "../mixins";

.msgItem.audio {
  .audioIcon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: -13px;
    margin-left:-10px;
    background-size: 40px;
    background-repeat:no-repeat;
    .img-retina("../images/audio_playing2.png", "../images/audio_playing2.png", 40px, 40px);

  }
  .audioInfo {
    float: right;
    margin-right: 10px;
    color: rgba(0, 0, 0, .54);
  }
  .msgContainer .msgWrapper .msgContent {
    .msgCard .cardBody {
      padding: 14px 10px;
    }
  }

  &.audioPlaying {
    .audioIcon {
      .img-retina("../images/audio_playing1.png", "../images/audio_playing1.png", 40px, 40px);
    }
  }
}
