@import "../variables";
@import "../mixins";

.msgMeItem {
    background-color: #fff;
    font-family: inherit;
    .clearfix();

    .userCard {
        padding: 10px;

        .userAvatar {
            float: left;
            .square(@userMeAvatar);
            border-radius: @messageBorderRadius;
            margin-right: 10px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .userName {
            float: left;
            height: @userMeAvatar;
            position: relative;
            width: 70%;
        }

        .msg-timestamp-content {
            padding-top: 40px;
            position: absolute;
            bottom: 0;
        }

        .clearfix();
    }

    .msgTail {
        clear: both;
        padding: 6px 0 0;

        &, a {
            color: #D2D2D2;
        }
    }

    .msgContainer {
        width: 100%;
        display: inline-block;
        .clearfix();
        padding-top: 6px;

        pre {
            width: 100%;
            margin: 0;
            white-space: pre-line;
            word-break: break-all;
            font-family: "Helvetica Neue", Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', arial, sans-serif;
        }
    }

    .msgContent {
        width: 100%;
        line-height: 1;
        height:40px;
        display: inline-block;
        font-size: 14px;
        word-break: break-all;
        border-radius: @messageBorderRadius;
        border: 1px solid @bubbleBorderColor;

        a {
            color: @msgLinkColor;

            &:hover {
                text-decoration: underline;
            }

            &.convertLink {
                display: block;
            }
        }

        img[class^="emotion-"] {
            margin: 0 2px;
            vertical-align: bottom;
        }

        .emotion-default {
            width: 24px;
            height: 24px;
        }

        .btnDownload {
            color: @msgLinkColor;

            &:not(:hover) {
                color: #C4C4C4 !important;
            }
        }
    }

    .msgWrapper {
        width: 100%;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-style: solid;
            border-width: 0 1px 1px 0;
            border-color: transparent @bubbleBorderColor @bubbleBorderColor transparent;
            position: absolute;
            top: 25px;
        }

        .messageError {
            display: none;
            float: left;
            color: #ec4e1e;
            font-size: 20px;
            margin-top: 10px;
            margin-right: 5px;
        }

        .msgDate {
            color: @msgDateColor;
        }
    }

    .msgImg {
        width: 100%;
        height: auto;
        border-radius: 0 0 4px 4px;
        margin-bottom: -5px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
    }

    &.text {
        .msgContainer {
            padding-top: 4px;
        }

        .msgContent {
            padding: 8px 13px;
        }
    }
    //接受到的消息
    &.you {
        .msgWrapper {
            float: left;

            &::after {
                left: 5px;
                transform: rotate(135deg);
                background: @receiveColorBg;
            }
        }

        .msgContent {
            float: left;
            background: @receiveColorBg;
            color: @receiveColor;
        }
    }
    //  自己发送的
    &.me {
        .userAvatar, .msgContainer {
            float: right;
        }

        .msgTail, .msgUserName, .msgDate {
            text-align: right;
        }

        .msgWrapper {
            float: right;

            &::after {
                right: 2px;
                transform: rotate(-45deg);
                background: @sendColorBg;
            }
        }

        .msgContent {
            background: @sendColorBg;
            color: @sendColor;
        }
    }

    &.error {
        .messageError {
            display: block;
        }
    }

    &.pic, &.text {
        .msgWrapper {
            &::after {
                display: none;
            }
        }
    }
}

.msgYouItem {
    font-family: inherit;
    .clearfix();

    .userCard {
        padding-bottom: 8px;
        .clearfix();

        .userAvatar {
            float: right;
            .square(35px);
            border-radius: @messageBorderRadius;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .userName {
            float: right;
            position: relative;
            width: 80%;
            text-align: right;
            margin-top: -2px;
            padding-right:6px;
        }

        .msg-timestamp-content {
            padding-top: 40px;
            position: absolute;
            bottom: 0;
        }

        .clearfix();
    }

    .msgTail {
        clear: both;
        padding: 6px 0 0;

        &, a {
            color: #D2D2D2;
        }
    }

    .msgContainer {
        width: 100%;
        display: inline-block;
        padding-right: 5px;
        padding-top:1px;

        pre {
            width: 100%;
            margin: 0;
            white-space: pre-line;
            word-break: break-all;
            font-family: "Helvetica Neue", Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', arial, sans-serif;
        }
    }

    .msgContent {
        display: inline-block;
        word-break: break-all;
        border-radius: 2px;
        border: 1px solid @msgYouBorderColor;
        padding: 2px;
        text-align: left;
        font-size:14px;

        a {
            color: @msgLinkColor;

            &:hover {
                text-decoration: underline;
            }

            &.convertLink {
                display: block;
            }
        }

        img[class^="emotion-"] {
            margin: 0 2px;
            vertical-align: bottom;
        }

        .emotion-default {
            width: 24px;
            height: 24px;
        }

        .btnDownload {
            color: @msgLinkColor;

            &:not(:hover) {
                color: #C4C4C4 !important;
            }
        }
    }

    .msgWrapper {
        width: 100%;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            border-style: solid;
            border-width: 0 1px 1px 0;
            border-color: transparent @msgYouBorderColor @msgYouBorderColor transparent;
            position: absolute;
            top: 8px;
        }

        .messageError {
            display: none;
            float: left;
            color: #ec4e1e;
            font-size: 20px;
            margin-top: 10px;
            margin-right: 5px;
        }

        .msgDate {
            color: @msgDateColor;
        }
    }

    .msgImg {
        width: 100%;
        height: auto;
        border-radius: 0 0 12px 12px;
        margin-bottom: -10px;
    }

    &.text {
        .msgContent {
            padding: 8px 13px;
        }
    }

    &.you {
        .msgWrapper {
            float: left;

            &::after {
                left: 2px;
                transform: rotate(135deg);
                background: @bodyColor;
            }
        }

        .msgContent {
            background: @bodyColor;
            color: @receiveColor;
        }
    }

    &.me {
        .userAvatar, .msgContainer {
            float: right;
        }

        .msgTail, .msgUserName, .msgDate {
            text-align: right;
        }

        .msgWrapper {
            float: right;

            &::after {
                right: -2px;
                transform: rotate(-45deg);
                background: @bodyColor;
            }
        }

        .msgContent {
            /*background: @sendColorBg;*/
            color: @sendColor;
        }
    }

    &.error {
        .messageError {
            display: block;
        }
    }
}

.msg-timestamp {
    padding-top: 12px;
    padding-left: 10px;
}

.msgYouList {
    padding: 10px 10px 0 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: @messageBorderRadius;
}

.coverShadow {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.04);
}

.msgShadow {
    margin-top: -4px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.04);
    border-radius: 4px 4px 4px 4px;
}
