@import "../variables";
@import "../mixins";

.bubbleShadow {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.msgYouList {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: @messageBorderRadius;
}

.coverShadow {
    border-radius: 20px 20px 12px 12px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.msgShadow {
    margin-top: -4px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px 12px 12px 12px;
}

.msgMeItem {
    background-color: #fff;
    font-family: inherit;
    .clearfix();

    .userCard {
        padding: 30px;

        .userAvatar {
            float: left;
            .square(130px);
            border-radius: 12px;
            margin-right: 13px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .userName {
            float: left;
            height: 130px;
            position: relative;
            width: 70%;
            font-size: 32px;
        }

        .msg-timestamp-content {
            padding-top: 40px;
            position: absolute;
            bottom: 0;
        }

        .clearfix();
    }

    .msgTail {
        clear: both;
        padding: 6px 0 0;

        &, a {
            color: #D2D2D2;
        }
    }

    .msgContainer {
        width: 100%;
        display: inline-block;
        .clearfix();
        padding-top: 20px;

        pre {
            width: 100%;
            margin: 0;
            white-space: pre-line;
            word-break: break-all;
            font-family: "Helvetica Neue", Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', arial, sans-serif;
        }
    }

    .msgContent {
        width: 100%;
        line-height: 1.6;
        display: inline-block;
        font-size: 14px;
        word-break: break-all;
        border-radius: @messageBorderRadius;
        border: 1px solid @bubbleBorderColor;
        /*max-width: 640px;*/
        //box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        a {
            color: @msgLinkColor;

            &:hover {
                text-decoration: underline;
            }

            &.convertLink {
                display: block;
            }
        }

        img[class^="emotion-"] {
            margin: 0 2px;
            vertical-align: bottom;
        }

        .emotion-default {
            width: 24px;
            height: 24px;
        }

        .btnDownload {
            color: @msgLinkColor;

            &:not(:hover) {
                color: #C4C4C4 !important;
            }
        }
    }

    .msgWrapper {
        width: 100%;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            border-style: solid;
            border-width: 0 1px 1px 0;
            border-color: transparent @bubbleBorderColor @bubbleBorderColor transparent;
            //&:extend(.bubbleShadow);
            position: absolute;
            top: 28px;
        }

        .messageError {
            display: none;
            float: left;
            color: #ec4e1e;
            font-size: 20px;
            margin-top: 10px;
            margin-right: 5px;
        }

        .msgDate {
            color: @msgDateColor;
        }
    }

    .msgImg {
        width: 100%;
        height: auto;
        border-radius: 0 0 12px 12px;
        margin-bottom: -10px;
    }

    &.text {
        .msgContainer {
            padding-top: 10px;
        }

        .msgContent {
            padding: 8px 13px;
        }
    }
    //接受到的消息
    &.you {
        .msgWrapper {
            float: left;

            &::after {
                left: 2px;
                transform: rotate(135deg);
                background: @receiveColorBg;
            }
        }

        .msgContent {
            float: left;
            background: @receiveColorBg;
            color: @receiveColor;
        }
    }
    //  自己发送的
    &.me {
        .userAvatar, .msgContainer {
            float: right;
        }

        .msgTail, .msgUserName, .msgDate {
            text-align: right;
        }

        .msgWrapper {
            float: right;

            &::after {
                right: 2px;
                transform: rotate(-45deg);
                background: @sendColorBg;
            }
        }

        .msgContent {
            background: @sendColorBg;
            color: @sendColor;
        }
    }

    &.error {
        .messageError {
            display: block;
        }
    }

    &.pic, &.text {
        .msgWrapper {
            &::after {
                display: none;
            }
        }
    }
}

.msgYouItem {
    font-family: inherit;
    .clearfix();

    .userCard {
        padding: 20px;

        .userAvatar {
            float: right;
            .square(90px);
            border-radius: 8px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .userName {
            float: right;
            position: relative;
            width: 85%;
            text-align: right;
            margin-right: 10px;
            margin-top:-2px;
        }

        .msg-timestamp-content {
            padding-top: 40px;
            position: absolute;
            bottom: 0;
        }

        .clearfix();
    }

    .msgTail {
        clear: both;
        padding: 6px 0 0;

        &, a {
            color: #D2D2D2;
        }
    }

    .msgContainer {
        width: 100%;
        display: inline-block;
        padding-right: 10px;
        padding-top: 5px;
        .clearfix();

        pre {
            width: 100%;
            margin: 0;
            white-space: pre-line;
            word-break: break-all;
            font-family: "Helvetica Neue", Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', arial, sans-serif;
        }
    }

    .msgContent {
        display: inline-block;
        word-break: break-all;
        border-radius: @messageBorderRadius;
        border: 2px solid @msgYouBorderColor;
        padding: 5px;
        text-align: left;
        a {
            color: @msgLinkColor;

            &:hover {
                text-decoration: underline;
            }

            &.convertLink {
                display: block;
            }
        }

        img[class^="emotion-"] {
            margin: 0 2px;
            vertical-align: bottom;
        }

        .emotion-default {
            width: 24px;
            height: 24px;
        }

        .btnDownload {
            color: @msgLinkColor;

            &:not(:hover) {
                color: #C4C4C4 !important;
            }
        }
    }

    .msgWrapper {
        width: 100%;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-style: solid;
            border-width: 0 2px 2px 0;
            border-color: transparent @msgYouBorderColor @msgYouBorderColor transparent;
            //&:extend(.bubbleShadow);
            position: absolute;
            top: 15px;
        }

        .messageError {
            display: none;
            float: left;
            color: #ec4e1e;
            font-size: 20px;
            margin-top: 10px;
            margin-right: 5px;
        }

        .msgDate {
            color: @msgDateColor;
        }
    }

    .msgImg {
        width: 100%;
        height: auto;
        border-radius: 0 0 12px 12px;
        margin-bottom: -10px;
    }

    &.text {
        .msgContent {
            padding: 8px 13px;
        }
    }

    &.you {
        .msgWrapper {
            float: left;

            &::after {
                left: 2px;
                transform: rotate(135deg);
                background: @bodyColor;
            }
        }

        .msgContent {
            background: @bodyColor;
            color: @receiveColor;
        }
    }

    &.me {
        .userAvatar, .msgContainer {
            float: right;
        }

        .msgTail, .msgUserName, .msgDate {
            text-align: right;
        }

        .msgWrapper {
            float: right;

            &::after {
                right: -6px;
                transform: rotate(-45deg);
                background: @bodyColor;
            }
        }

        .msgContent {
            /*background: @sendColorBg;*/
            color: @sendColor;
        }
    }

    &.error {
        .messageError {
            display: block;
        }
    }
}

.msg-timestamp {
    padding-top: 24px;
    padding-left: 20px;
    /*.msg-timestamp-content {
        display: inline-block;
        font-size: 26px;
        color: #bbb;
        padding: 6px 0px 3px 20px;
        line-height: 150%;
    }*/
}

.sessionWin.group {
    .msgTail {
    }

    .msgItem {
        &.response {
            margin-left: 0;
        }
    }
}
