.msgItem {
  &.emotion {
    font-family: inherit;
    img {
      border-radius: @messageBorderRadius;
      display: block;
    }
    .msgContent {
      border: 0;
      background: none;
      box-shadow: none;
    }
    .msgWrapper::after {
      display: none;
    }
  }
}
