a {
  text-decoration: none;
}
*:not(.nano-content)::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
  width: 4px;
  margin: 0 1px;
}
*:not(.nano-content)::-webkit-scrollbar {
  width: 4px;
  background: rgba(0, 0, 0, 0);
}
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
input[type="checkbox"]:disabled:after {
  background-color: #f5f5f5;
  border-color: #e5e5e5;
}
input[type="checkbox"]:disabled:checked:before {
  border-color: #ccc;
}
input[type="checkbox"]:disabled:checked:after {
  border: none !important;
  background: none !important;
}
.icon-chat-vip {
  color: #f6bc2e;
}
img {
  border: 0px;
}
ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #1e88e5;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  outline: none;
}
.placeholder {
  color: #aaa;
}
.imgbutton {
  width: 100%;
  height: 100%;
  border: 0;
  background: none;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  outline: none;
}
.overflowHidden {
  overflow: hidden;
  zoom: 1;
}
.overflow_ellipsis {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.WordBreak {
  word-wrap: break-word;
  word-break: break-word;
}
.AllBreak {
  word-wrap: break-word;
  word-break: break-all;
}
.noSelect {
  user-select: none;
}
.DefaultPointer,
.cursorDefault {
  cursor: default !important;
}
.Hand,
.pointer {
  cursor: pointer;
}
.cursorText {
  cursor: text;
}
.InlineBlock {
  display: inline-block !important;
  display: -moz-inline-stack;
  display: inline-block;
  /* zoom:1; */
  *display: inline;
}
.Block {
  display: block !important;
}
.NoUnderline {
  text-decoration: none !important;
}
.Underline {
  text-decoration: underline !important;
}
.Absolute {
  position: absolute !important;
}
.Relative,
.relative {
  position: relative !important;
}
.Fixed {
  position: fixed !important;
}
/*浮动*/
.Left {
  float: left !important;
}
.Right {
  float: right !important;
}
.Clear {
  clear: both;
  visibility: hidden;
  border-top: 0px;
  margin-top: -1px !important;
}
.clearLeft {
  clear: left;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.SpanCenter {
  display: block !important;
  text-align: center !important;
}
.TxtLeft {
  text-align: left !important;
}
.TxtCenter {
  text-align: center !important;
}
.TxtRight {
  text-align: right !important;
}
.TxtTop {
  vertical-align: top !important;
}
.TxtTop img {
  vertical-align: top !important;
}
.TxtMiddle {
  vertical-align: middle !important;
}
.TxtBottom {
  vertical-align: bottom !important;
}
.divCenter {
  margin: 0 auto;
}
.TxtIndent10 {
  text-indent: 10px;
}
.Border0 {
  border: 0px !important;
}
.Border2 {
  border: 2px !important;
}
.BorderBottom0 {
  border-bottom: 0px !important;
}
.BorderLeft0 {
  border-left: 0px !important;
}
.BorderRight0 {
  border-right: 0px !important;
}
.Border {
  border: 1px solid white !important;
}
.BorderTop {
  border-top: 1px solid white !important;
}
.BorderTopGrayC {
  border-top: 1px solid #ccc !important;
}
.BorderRight {
  border-right: 1px solid white !important;
}
.BorderLeft {
  border-left: 1px solid white !important;
}
.BorderBottom {
  border-bottom: 1px solid white !important;
}
.BorderGrayColor {
  border-color: #ccc !important;
}
.BorderGrayD {
  border: 1px solid #ddd;
}
.BorderGray9 {
  border: 1px solid #999 !important;
}
.BorderBottomGrayC {
  border-bottom-color: #ccc !important;
}
.BorderBottomGrayD {
  border-bottom-color: #ddd !important;
}
.borderColor_ef {
  border-color: #efefef !important;
}
.borderColor_c {
  border-color: #ccc !important;
}
.borderColor_d8 {
  border-color: #d8d8d8 !important;
}
.Hidden {
  display: none;
}
.Visibility {
  visibility: hidden;
}
/*Margin And Padding*/
.mp0 {
  margin: 0px !important;
  padding: 0px !important;
}
.mAll5 {
  margin: 5px !important;
}
.mAll10 {
  margin: 10px !important;
}
.mAll12 {
  margin: 12px !important;
}
.mAll15 {
  margin: 15px !important;
}
.mAll20 {
  margin: 20px !important;
}
.mAll25 {
  margin: 25px !important;
}
.mAll30 {
  margin: 30px !important;
}
.mTop0 {
  margin-top: 0px !important;
}
.mTop2 {
  margin-top: 2px !important;
}
.mTop3 {
  margin-top: 3px !important;
}
.mTop4 {
  margin-top: 4px !important;
}
.mTop5 {
  margin-top: 5px !important;
}
.mTop6 {
  margin-top: 6px !important;
}
.mTop7 {
  margin-top: 7px !important;
}
.mTop8 {
  margin-top: 8px !important;
}
.mTop10 {
  margin-top: 10px !important;
}
.mTop11 {
  margin-top: 11px !important;
}
.mTop12 {
  margin-top: 12px !important;
}
.mTop13 {
  margin-top: 13px !important;
}
.mTop15 {
  margin-top: 15px !important;
}
.mTop16 {
  margin-top: 16px !important;
}
.mTop18 {
  margin-top: 18px !important;
}
.mTop20 {
  margin-top: 20px !important;
}
.mTop25 {
  margin-top: 25px !important;
}
.mTop30 {
  margin-top: 30px !important;
}
.mTop35 {
  margin-top: 35px !important;
}
.mTop40 {
  margin-top: 40px !important;
}
.mTop45 {
  margin-top: 45px !important;
}
.mTop50 {
  margin-top: 50px !important;
}
.mRight0 {
  margin-right: 0px !important;
}
.mRight2 {
  margin-right: 2px !important;
}
.mRight3 {
  margin-right: 3px !important;
}
.mRight5 {
  margin-right: 5px !important;
}
.mRight7 {
  margin-right: 7px !important;
}
.mRight10 {
  margin-right: 10px !important;
}
.mRight12 {
  margin-right: 12px !important;
}
.mRight15 {
  margin-right: 15px !important;
}
.mRight20 {
  margin-right: 20px !important;
}
.mRight25 {
  margin-right: 25px !important;
}
.mRight30 {
  margin-right: 30px !important;
}
.mRight35 {
  margin-right: 35px !important;
}
.mRight40 {
  margin-right: 40px !important;
}
.mBottom0 {
  margin-bottom: 0px !important;
}
.mBottom3 {
  margin-bottom: 3px !important;
}
.mBottom4 {
  margin-bottom: 4px !important;
}
.mBottom5 {
  margin-bottom: 5px !important;
}
.mBottom6 {
  margin-bottom: 6px !important;
}
.mBottom8 {
  margin-bottom: 8px !important;
}
.mBottom10 {
  margin-bottom: 10px !important;
}
.mBottom12 {
  margin-bottom: 12px !important;
}
.mBottom15 {
  margin-bottom: 15px !important;
}
.mBottom18 {
  margin-bottom: 18px !important;
}
.mBottom20 {
  margin-bottom: 20px !important;
}
.mBottom25 {
  margin-bottom: 25px !important;
}
.mBottom30 {
  margin-bottom: 30px !important;
}
.mBottom45 {
  margin-bottom: 45px !important;
}
.mBottom50 {
  margin-bottom: 50px !important;
}
.mLeft0 {
  margin-left: 0px !important;
}
.mLeft2 {
  margin-left: 2px !important;
}
.mLeft3 {
  margin-left: 3px !important;
}
.mLeft5 {
  margin-left: 5px !important;
}
.mLeft7 {
  margin-left: 7px !important;
}
.mLeft10 {
  margin-left: 10px !important;
}
.mLeft12 {
  margin-left: 12px !important;
}
.mLeft15 {
  margin-left: 15px !important;
}
.mLeft20 {
  margin-left: 20px !important;
}
.mLeft25 {
  margin-left: 25px !important;
}
.mLeft30 {
  margin-left: 30px !important;
}
.mLeft35 {
  margin-left: 35px !important;
}
.mLeft40 {
  margin-left: 40px !important;
}
.mLeft48 {
  margin-left: 48px !important;
}
.mLeft50 {
  margin-left: 50px !important;
}
.mLeft80 {
  margin-left: 80px !important;
}
.mLeft100 {
  margin-left: 100px !important;
}
.pAll0 {
  padding: 0px !important;
}
.pAll2 {
  padding: 2px !important;
}
.pAll5 {
  padding: 5px !important;
}
.pAll10 {
  padding: 10px !important;
}
.pAll15 {
  padding: 15px !important;
}
.pAll20 {
  padding: 20px !important;
}
.pAll25 {
  padding: 25px !important;
}
.pAll30 {
  padding: 30px !important;
}
.pAll35 {
  padding: 35px !important;
}
.pTop0 {
  padding-top: 0px !important;
}
.pTop2 {
  padding-top: 2px !important;
}
.pTop5 {
  padding-top: 5px !important;
}
.pTop10 {
  padding-top: 10px !important;
}
.pTop12 {
  padding-top: 12px !important;
}
.pTop15 {
  padding-top: 15px !important;
}
.pTop20 {
  padding-top: 20px !important;
}
.pTop25 {
  padding-top: 25px !important;
}
.pTop30 {
  padding-top: 30px !important;
}
.pTop35 {
  padding-top: 35px !important;
}
.pTop45 {
  padding-top: 45px !important;
}
.pTop100 {
  padding-top: 100px !important;
}
.pRight0 {
  padding-right: 0px !important;
}
.pRight5 {
  padding-right: 5px !important;
}
.pRight6 {
  padding-right: 6px !important;
}
.pRight9 {
  padding-right: 9px !important;
}
.pRight10 {
  padding-right: 10px !important;
}
.pRight12 {
  padding-right: 12px !important;
}
.pRight15 {
  padding-right: 15px !important;
}
.pRight20 {
  padding-right: 20px !important;
}
.pRight25 {
  padding-right: 25px !important;
}
.pRight30 {
  padding-right: 30px !important;
}
.pRight40 {
  padding-right: 40px !important;
}
.pRight60 {
  padding-right: 60px !important;
}
.pBottom2 {
  padding-bottom: 2px !important;
}
.pBottom3 {
  padding-bottom: 3px !important;
}
.pBottom5 {
  padding-bottom: 5px !important;
}
.pBottom10 {
  padding-bottom: 10px !important;
}
.pBottom15 {
  padding-bottom: 15px !important;
}
.pBottom20 {
  padding-bottom: 20px !important;
}
.pBottom25 {
  padding-bottom: 25px !important;
}
.pBottom30 {
  padding-bottom: 30px !important;
}
.pBottom50 {
  padding-bottom: 50px !important;
}
.pBottom100 {
  padding-bottom: 100px !important;
}
.pLeft0 {
  padding-left: 0px !important;
}
.pLeft5 {
  padding-left: 5px !important;
}
.pLeft6 {
  padding-left: 6px !important;
}
.pLeft7 {
  padding-left: 7px !important;
}
.pLeft8 {
  padding-left: 8px !important;
}
.pLeft9 {
  padding-left: 9px !important;
}
.pLeft10 {
  padding-left: 10px !important;
}
.pLeft11 {
  padding-left: 11px !important;
}
.pLeft12 {
  padding-left: 12px !important;
}
.pLeft15 {
  padding-left: 15px !important;
}
.pLeft20 {
  padding-left: 20px !important;
}
.pLeft25 {
  padding-left: 25px !important;
}
.pLeft28 {
  padding-left: 28px !important;
}
.pLeft30 {
  padding-left: 30px !important;
}
.pLeft29 {
  padding-left: 29px !important;
}
.pLeft35 {
  padding-left: 35px !important;
}
.pLeft36 {
  padding-left: 36px !important;
}
.pLeft40 {
  padding-left: 40px !important;
}
.pLeft45 {
  padding-left: 45px !important;
}
.pLeft50 {
  padding-left: 50px !important;
}
.pLeft160 {
  padding-left: 160px !important;
}
.pTopBottom3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.pTopBottom5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.pLeftRight5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.pLeftRight10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.pLeftRight30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.Top1 {
  top: 1px;
}
.Top3 {
  top: 3px;
}
.Top5 {
  top: 5px;
}
.Top10 {
  top: 10px;
}
.Top20 {
  top: 20px;
}
.Right1 {
  right: 1px;
}
.Right5 {
  right: 5px;
}
.Right8 {
  right: 8px;
}
.minHeight26 {
  min-height: 26px !important;
}
.minHeight30 {
  min-height: 30px !important;
}
.minHeight50 {
  min-height: 50px !important;
}
.minHeight80 {
  min-height: 80px !important;
}
.minHeight160 {
  min-height: 160px !important;
}
.minWidth60 {
  min-width: 60px !important;
}
.Width70 {
  width: 70px !important;
}
.Width90 {
  width: 90px !important;
}
.Width95 {
  width: 95px !important;
}
.Width120 {
  width: 120px !important;
}
.Width170 {
  width: 170px !important;
}
.Width180 {
  width: 180px !important;
}
.Width195 {
  width: 195px !important;
}
.Width200 {
  width: 200px !important;
}
.Width300 {
  width: 300px !important;
}
.Width360 {
  width: 360px !important;
}
.Width400 {
  width: 400px !important;
}
.Width450 {
  width: 450px !important;
}
.Width500 {
  width: 500px !important;
}
.Width530 {
  width: 530px !important;
}
.Width550 {
  width: 550px !important;
}
.White24 {
  font-size: 24px;
  color: white;
}
.Blue {
  color: #06c !important;
}
.Blue14Bold {
  font-size: 14px;
  color: #06c !important;
  font-weight: bold;
}
.Blue16 {
  font-size: 16px;
  color: #06c !important;
}
.Blue16Bold {
  font-size: 16px;
  color: #06c !important;
  font-weight: bold;
}
.Blue18 {
  font-size: 18px;
  color: #06c !important;
}
.Blue20 {
  font-size: 20px;
  color: #06c !important;
}
.Blue22 {
  font-size: 22px;
  color: #06c !important;
}
.Blue24 {
  font-size: 24px;
  color: #06c !important;
}
.Blue24Bold {
  font-size: 24px;
  font-weight: bold;
  color: #06c !important;
}
.BlueBold {
  color: #06c !important;
  font-weight: bold;
}
.Gray {
  color: #333 !important;
}
.Gray14 {
  color: #333 !important;
  font-size: 14px;
}
.Gray16 {
  color: #333 !important;
  font-size: 16px;
}
.Gray_6 {
  color: #666 !important;
}
.Gray_8 {
  color: #888 !important;
}
.Gray_9 {
  color: #999 !important;
}
.Gray_a {
  color: #aaa !important;
}
.Gray_c {
  color: #ccc !important;
}
.Gray_d {
  color: #eee !important;
}
.Gray_df {
  color: #dfdfdf !important;
}
.Gray_c6 {
  color: #c6c6c6 !important;
}
.Bg_Gray_6 {
  background-color: #666 !important;
}
.Black {
  color: #000 !important;
}
.BlackBold {
  color: #000 !important;
  font-weight: bold;
}
.Black14 {
  color: #000 !important;
  font-size: 14px;
}
.Black16 {
  color: #000 !important;
  font-size: 16px;
}
.Black18 {
  color: #000 !important;
  font-size: 18px;
}
.Black18Bold {
  color: #000 !important;
  font-size: 18px;
  font-weight: bold;
}
.Black20 {
  color: #000 !important;
  font-size: 20px;
}
.font6 {
  font-size: 12px;
  transform: scale(0.5);
  display: inline-block;
}
.font8 {
  font-size: 16px;
  transform: scale(0.5);
  display: inline-block;
}
.font10 {
  font-size: 20px;
  transform: scale(0.5);
  display: inline-block;
}
.Font12 {
  font-size: 12px !important;
}
.Font13 {
  font-size: 13px !important;
}
.Font14 {
  font-size: 14px !important;
}
.Font15 {
  font-size: 15px !important;
}
.Font16 {
  font-size: 16px !important;
}
.Font17 {
  font-size: 17px !important;
}
.Font18 {
  font-size: 18px !important;
}
.Font19 {
  font-size: 19px !important;
}
.Font20 {
  font-size: 20px !important;
}
.Font22 {
  font-size: 22px !important;
}
.Font24 {
  font-size: 24px !important;
}
.Font26 {
  font-size: 26px !important;
}
.Font30 {
  font-size: 30px !important;
}
.Font32 {
  font-size: 32px !important;
}
.Font34 {
  font-size: 34px !important;
}
.Font36 {
  font-size: 36px !important;
}
.Font40 {
  font-size: 40px !important;
}
.Font48 {
  font-size: 48px !important;
}
.Font56 {
  font-size: 56px !important;
}
.LineHeight15 {
  line-height: 15px !important;
}
.LineHeight16 {
  line-height: 16px !important;
}
.LineHeight20 {
  line-height: 20px !important;
}
.LineHeight22 {
  line-height: 22px !important;
}
.LineHeight24 {
  line-height: 24px !important;
}
.LineHeight25 {
  line-height: 25px !important;
}
.LineHeight26 {
  line-height: 26px !important;
}
.LineHeight27 {
  line-height: 27px !important;
}
.LineHeight28 {
  line-height: 28px !important;
}
.LineHeight30 {
  line-height: 30px !important;
}
.LineHeight35 {
  line-height: 35px !important;
}
.LineHeight40 {
  line-height: 40px !important;
}
.LineHeight50 {
  line-height: 50px !important;
}
.LineHeight60 {
  line-height: 60px !important;
}
.LineHeight80 {
  line-height: 80px !important;
}
.Height26 {
  height: 26px;
}
.Height30 {
  height: 30px;
}
.Height50 {
  height: 50px;
}
.Height80 {
  height: 80px;
}
.Height180 {
  height: 180px;
}
.Height200 {
  height: 200px;
}
.MaxWidth90 {
  max-width: 90% !important;
}
body {
  font-size: 32px;
  color: #182338;
  background-color: #f5f6fa;
}
.App {
  width: 97%;
  margin: 30px auto;
}
.App audio,
.App canvas,
.App progress,
.App video {
  display: inline-block;
  vertical-align: baseline;
}
.App audio:not([controls]) {
  display: none;
  height: 0;
}
.App [hidden],
.App template {
  display: none;
}
.App a:active,
.App a:hover {
  outline: 0;
}
.App abbr[title] {
  border-bottom: 1px dotted;
}
.App b,
.App strong {
  font-weight: bold;
}
.App dfn {
  font-style: italic;
}
.App h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.App mark {
  background: #ff0;
  color: #000;
}
.App small {
  font-size: 80%;
}
.App sub,
.App sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.App sup {
  top: -0.5em;
}
.App sub {
  bottom: -0.25em;
}
.App img {
  border: 0;
}
.App svg:not(:root) {
  overflow: hidden;
}
.App figure {
  margin: 1em 40px;
}
.App hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
.App pre {
  overflow: auto;
}
.App code,
.App kbd,
.App pre,
.App samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.App button {
  overflow: visible;
}
.App button,
.App select {
  text-transform: none;
}
.App button,
.App input[type="button"],
.App input[type="reset"],
.App input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.App button[disabled],
.App input[disabled] {
  cursor: default;
}
.App button::-moz-focus-inner,
.App input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.App input {
  line-height: normal;
}
.App input[type="number"]::-webkit-inner-spin-button,
.App input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.App input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.App input[type="search"]::-webkit-search-cancel-button,
.App input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.App fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.App legend {
  border: 0;
  padding: 0;
}
.App textarea {
  overflow: auto;
}
.App optgroup {
  font-weight: bold;
}
.App table {
  border-collapse: collapse;
  border-spacing: 0;
}
.App td,
.App th {
  padding: 0;
}
.App button {
  outline: 0;
  border: none;
  cursor: pointer;
}
.bubbleShadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.msgYouList {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}
.coverShadow {
  border-radius: 20px 20px 12px 12px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.08);
}
.msgShadow {
  margin-top: -4px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 12px 12px 12px 12px;
}
.msgMeItem {
  background-color: #fff;
  font-family: inherit;
}
.msgMeItem:before,
.msgMeItem:after {
  content: " ";
  display: table;
}
.msgMeItem:after {
  clear: both;
}
.msgMeItem .userCard {
  padding: 30px;
}
.msgMeItem .userCard .userAvatar {
  float: left;
  width: 130px;
  height: 130px;
  border-radius: 12px;
  margin-right: 13px;
  overflow: hidden;
}
.msgMeItem .userCard .userAvatar img {
  width: 100%;
  height: 100%;
}
.msgMeItem .userCard .userName {
  float: left;
  height: 130px;
  position: relative;
  width: 70%;
  font-size: 32px;
}
.msgMeItem .userCard .msg-timestamp-content {
  padding-top: 40px;
  position: absolute;
  bottom: 0;
}
.msgMeItem .userCard:before,
.msgMeItem .userCard:after {
  content: " ";
  display: table;
}
.msgMeItem .userCard:after {
  clear: both;
}
.msgMeItem .msgTail {
  clear: both;
  padding: 6px 0 0;
}
.msgMeItem .msgTail,
.msgMeItem .msgTail a {
  color: #D2D2D2;
}
.msgMeItem .msgContainer {
  width: 100%;
  display: inline-block;
  padding-top: 20px;
}
.msgMeItem .msgContainer:before,
.msgMeItem .msgContainer:after {
  content: " ";
  display: table;
}
.msgMeItem .msgContainer:after {
  clear: both;
}
.msgMeItem .msgContainer pre {
  width: 100%;
  margin: 0;
  white-space: pre-line;
  word-break: break-all;
  font-family: "Helvetica Neue", Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', arial, sans-serif;
}
.msgMeItem .msgContent {
  width: 100%;
  line-height: 1.6;
  display: inline-block;
  font-size: 14px;
  word-break: break-all;
  border-radius: 20px;
  border: 1px solid #ccc;
  /*max-width: 640px;*/
}
.msgMeItem .msgContent a {
  color: #007ddb;
}
.msgMeItem .msgContent a:hover {
  text-decoration: underline;
}
.msgMeItem .msgContent a.convertLink {
  display: block;
}
.msgMeItem .msgContent img[class^="emotion-"] {
  margin: 0 2px;
  vertical-align: bottom;
}
.msgMeItem .msgContent .emotion-default {
  width: 24px;
  height: 24px;
}
.msgMeItem .msgContent .btnDownload {
  color: #007ddb;
}
.msgMeItem .msgContent .btnDownload:not(:hover) {
  color: #C4C4C4 !important;
}
.msgMeItem .msgWrapper {
  width: 100%;
  position: relative;
}
.msgMeItem .msgWrapper::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: transparent #ccc #ccc transparent;
  position: absolute;
  top: 28px;
}
.msgMeItem .msgWrapper .messageError {
  display: none;
  float: left;
  color: #ec4e1e;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 5px;
}
.msgMeItem .msgWrapper .msgDate {
  color: #bbb;
}
.msgMeItem .msgImg {
  width: 100%;
  height: auto;
  border-radius: 0 0 12px 12px;
  margin-bottom: -10px;
}
.msgMeItem.text .msgContainer {
  padding-top: 10px;
}
.msgMeItem.text .msgContent {
  padding: 8px 13px;
}
.msgMeItem.you .msgWrapper {
  float: left;
}
.msgMeItem.you .msgWrapper::after {
  left: 2px;
  transform: rotate(135deg);
  background: #fff;
}
.msgMeItem.you .msgContent {
  float: left;
  background: #fff;
  color: #000;
}
.msgMeItem.me .userAvatar,
.msgMeItem.me .msgContainer {
  float: right;
}
.msgMeItem.me .msgTail,
.msgMeItem.me .msgUserName,
.msgMeItem.me .msgDate {
  text-align: right;
}
.msgMeItem.me .msgWrapper {
  float: right;
}
.msgMeItem.me .msgWrapper::after {
  right: 2px;
  transform: rotate(-45deg);
  background: #f3f3f3;
}
.msgMeItem.me .msgContent {
  background: #f3f3f3;
  color: #000;
}
.msgMeItem.error .messageError {
  display: block;
}
.msgMeItem.pic .msgWrapper::after,
.msgMeItem.text .msgWrapper::after {
  display: none;
}
.msgYouItem {
  font-family: inherit;
}
.msgYouItem:before,
.msgYouItem:after {
  content: " ";
  display: table;
}
.msgYouItem:after {
  clear: both;
}
.msgYouItem .userCard {
  padding: 20px;
}
.msgYouItem .userCard .userAvatar {
  float: right;
  width: 90px;
  height: 90px;
  border-radius: 8px;
  overflow: hidden;
}
.msgYouItem .userCard .userAvatar img {
  width: 100%;
  height: 100%;
}
.msgYouItem .userCard .userName {
  float: right;
  position: relative;
  width: 85%;
  text-align: right;
  margin-right: 10px;
  margin-top: -2px;
}
.msgYouItem .userCard .msg-timestamp-content {
  padding-top: 40px;
  position: absolute;
  bottom: 0;
}
.msgYouItem .userCard:before,
.msgYouItem .userCard:after {
  content: " ";
  display: table;
}
.msgYouItem .userCard:after {
  clear: both;
}
.msgYouItem .msgTail {
  clear: both;
  padding: 6px 0 0;
}
.msgYouItem .msgTail,
.msgYouItem .msgTail a {
  color: #D2D2D2;
}
.msgYouItem .msgContainer {
  width: 100%;
  display: inline-block;
  padding-right: 10px;
  padding-top: 5px;
}
.msgYouItem .msgContainer:before,
.msgYouItem .msgContainer:after {
  content: " ";
  display: table;
}
.msgYouItem .msgContainer:after {
  clear: both;
}
.msgYouItem .msgContainer pre {
  width: 100%;
  margin: 0;
  white-space: pre-line;
  word-break: break-all;
  font-family: "Helvetica Neue", Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', arial, sans-serif;
}
.msgYouItem .msgContent {
  display: inline-block;
  word-break: break-all;
  border-radius: 20px;
  border: 2px solid #aeaeb6;
  padding: 5px;
  text-align: left;
}
.msgYouItem .msgContent a {
  color: #007ddb;
}
.msgYouItem .msgContent a:hover {
  text-decoration: underline;
}
.msgYouItem .msgContent a.convertLink {
  display: block;
}
.msgYouItem .msgContent img[class^="emotion-"] {
  margin: 0 2px;
  vertical-align: bottom;
}
.msgYouItem .msgContent .emotion-default {
  width: 24px;
  height: 24px;
}
.msgYouItem .msgContent .btnDownload {
  color: #007ddb;
}
.msgYouItem .msgContent .btnDownload:not(:hover) {
  color: #C4C4C4 !important;
}
.msgYouItem .msgWrapper {
  width: 100%;
  position: relative;
}
.msgYouItem .msgWrapper::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: transparent #aeaeb6 #aeaeb6 transparent;
  position: absolute;
  top: 15px;
}
.msgYouItem .msgWrapper .messageError {
  display: none;
  float: left;
  color: #ec4e1e;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 5px;
}
.msgYouItem .msgWrapper .msgDate {
  color: #bbb;
}
.msgYouItem .msgImg {
  width: 100%;
  height: auto;
  border-radius: 0 0 12px 12px;
  margin-bottom: -10px;
}
.msgYouItem.text .msgContent {
  padding: 8px 13px;
}
.msgYouItem.you .msgWrapper {
  float: left;
}
.msgYouItem.you .msgWrapper::after {
  left: 2px;
  transform: rotate(135deg);
  background: #f5f6fa;
}
.msgYouItem.you .msgContent {
  background: #f5f6fa;
  color: #000;
}
.msgYouItem.me .userAvatar,
.msgYouItem.me .msgContainer {
  float: right;
}
.msgYouItem.me .msgTail,
.msgYouItem.me .msgUserName,
.msgYouItem.me .msgDate {
  text-align: right;
}
.msgYouItem.me .msgWrapper {
  float: right;
}
.msgYouItem.me .msgWrapper::after {
  right: -6px;
  transform: rotate(-45deg);
  background: #f5f6fa;
}
.msgYouItem.me .msgContent {
  /*background: @sendColorBg;*/
  color: #000;
}
.msgYouItem.error .messageError {
  display: block;
}
.msg-timestamp {
  padding-top: 24px;
  padding-left: 20px;
  /*.msg-timestamp-content {
        display: inline-block;
        font-size: 26px;
        color: #bbb;
        padding: 6px 0px 3px 20px;
        line-height: 150%;
    }*/
}
.sessionWin.group .msgItem.response {
  margin-left: 0;
}
.msgItem.pic.msgCard .msgContainer {
  border-radius: 20px;
}
.msgItem.pic.msgCard .msgContainer .msgWrapper::after {
  display: none;
}
.msgItem.pic.msgCard .msgContainer .msgWrapper .msgContent {
  overflow: hidden;
  font-size: 0;
  z-index: 2;
  border-radius: 20px;
}
.msgItem.pic.msgCard .msgContainer .msgWrapper .msgContent .msgCard {
  border-radius: 20px;
}
.msgItem.pic.msgCard .msgContainer .msgWrapper .msgContent .msgCard .cardBody {
  text-align: center;
  padding: 0;
  border-radius: 20px;
}
.msgItem.pic.msgCard .msgContainer .msgWrapper .msgContent img {
  font-size: 0;
  cursor: pointer;
}
.msgItem.pic.small.msgCard .msgContainer .msgWrapper .msgContent .msgCard .cardBody {
  padding: 10px 0;
}
.msgItem.emotion {
  font-family: inherit;
}
.msgItem.emotion img {
  border-radius: 20px;
  display: block;
}
.msgItem.emotion .msgContent {
  border: 0;
  background: none;
  box-shadow: none;
}
.msgItem.emotion .msgWrapper::after {
  display: none;
}
.msgItem.file .msgContainer .msgWrapper .msgContent .fileIcon {
  display: inline-block;
}
.msgItem.file .msgContainer .msgWrapper .msgContent .fileIcon i {
  color: #b0b7bd;
  font-size: 42px;
  vertical-align: middle;
}
.msgItem.file .msgContainer .msgWrapper .msgContent .fileInfo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 12px;
  width: 190px;
  color: #C4C4C4;
}
.msgItem.file .msgContainer .msgWrapper .msgContent .fileInfo .fileName {
  color: #333;
  font-size: 14px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.msgItem.file .msgContainer .msgWrapper .msgContent .fileInfo .fileSize {
  font-style: normal;
}
.msgItem.file .msgContainer .msgWrapper .msgContent .fileInfo .btnDownload {
  color: inherit;
  margin-left: 10px;
  text-decoration: none;
}
.msgItem.file .msgContainer .msgWrapper .msgContent .fileInfo .progress {
  display: inline-block;
  width: 100%;
  height: 4px;
  margin-top: 4px;
  background: #d6d6d6;
}
.msgItem.file .msgContainer .msgWrapper .msgContent .fileInfo .progress .progressBar {
  background: #3db155;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.msgItem.file .msgContainer .msgWrapper .msgContent .fileInfo .uploadRate {
  margin-left: 15px;
}
.msgItem.file .msgContainer .msgWrapper .msgContent .fileInfo .errorTip {
  color: #e94218;
}
.msgItem.file .msgContainer .msgWrapper .msgContent .fileAction {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.msgItem.file .msgContainer .msgWrapper .msgContent .fileAction .btn {
  padding-left: 5px;
  padding-right: 6px;
  color: rgba(48, 53, 58, 0.43);
}
.msgItem.file.request .msgContainer .msgWrapper .msgContent {
  border-color: #000;
  color: #333;
}
.msgItem.file.request .msgContainer .msgWrapper .msgContent a {
  color: #007ddb;
}
.msgItem.audio .audioIcon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 2px;
  background-size: 18px;
  background-image: url("../images/audio/audio_start.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .msgItem.audio .audioIcon {
    background-image: url("../images/audio/audio_start.png");
    background-size: 18px 18px;
  }
}
.msgItem.audio .audioInfo {
  float: right;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.54);
}
.msgItem.audio .msgContainer .msgWrapper .msgContent .msgCard .cardBody {
  padding: 14px 10px;
}
.msgItem.audio.audioPlaying .audioIcon {
  background-image: url("~images/audio/audio_playing.gif");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .msgItem.audio.audioPlaying .audioIcon {
    background-image: url("~images/audio/audio_playing.gif");
    background-size: 18px 18px;
  }
}
.notification {
  text-align: center;
  margin: 0 18%;
}
.notification .notifyWrapper {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
}
.notification .notifyWrapper .notificationIcon {
  position: absolute;
  width: 30px;
  text-align: center;
  left: 0;
  top: 0;
  line-height: 1;
  color: #bbb;
  font-size: 16px;
}
.notification .notifyWrapper .notifyContent {
  font-size: 12px;
  color: #bbb;
  text-align: left;
  padding-left: 30px;
  padding-right: 5px;
}
.notification .notifyWrapper .notifyContent p {
  margin-top: 0;
  margin-bottom: 10px;
}
.notification .msgDate {
  margin-bottom: 20px;
}
.notification.notificationDate {
  font-size: 12px;
}
.notification.notificationDate .notifyWrapper {
  padding: 3px 10px;
  background: #f1f1f1;
  color: #999;
}
.notification.error .notifyWrapper .notificationIcon i {
  color: rgba(233, 66, 24, 0.5);
}
.floatMsg {
  position: absolute;
  background: #007ddb;
  background: rgba(0, 136, 255, 0.8);
  height: 40px;
  line-height: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #FFF;
  padding: 0 10px;
  cursor: pointer;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.floatMsg .userAvatar {
  vertical-align: middle;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
.floatMsg .floatMsgContent img {
  vertical-align: middle;
}
.msgPanel {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 150px;
}
.msgPanel .hasMore {
  display: block;
  width: 100px;
  text-align: center;
  margin: 15px auto;
  color: #007ddb;
  cursor: pointer;
}
.msgPanel .noMoreTip {
  text-align: center;
  color: #999;
  margin-bottom: 20px;
}
.msgPanel .noMoreTip[disabled="disabled"] {
  cursor: default;
}
.msgPanel .msgSeparator {
  margin: 30px 0;
  text-align: center;
}
.msgPanel .msgSeparator .separatorWrapper {
  display: inline-block;
  width: 190px;
}
.msgPanel .msgSeparator .separatorWrapper hr {
  margin-top: 0;
  margin-bottom: -9px;
  border: 0;
  border-top: solid 1px #BBB;
}
.msgPanel .msgSeparator .separatorWrapper .text {
  display: inline-block;
  color: #BBB;
  padding: 0 10px;
  background: #FFF;
}
.msgMeItem.msgCard {
  /*border-radius: @messageBorderRadius;*/
}
.msgMeItem.msgCard .msgWrapper:hover .msgContent {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}
.msgMeItem.msgCard .msgWrapper::after {
  background: #fff !important;
}
.msgMeItem.msgCard .msgContent {
  transition: all .3s;
  border-radius: 6px;
}
.msgMeItem.msgCard .msgContent .msgCard {
  background: #ffffff;
  border-radius: 6px;
}
.msgMeItem.msgCard .msgContent .msgCard .msgTitle {
  color: #000;
  padding: 11px;
  font-size: 12px;
  line-height: 100%;
}
.msgMeItem.msgCard .msgContent .cardBody {
  padding: 10px;
  border-radius: 6px;
  transition: box-shadow 0.3s;
  cursor: pointer;
  position: relative;
}
.msgYouItem.msgCard {
  border-radius: 20px;
}
.msgYouItem.msgCard .msgWrapper:hover .msgContent {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}
.msgYouItem.msgCard .msgWrapper::after {
  background: #f5f6fa;
}
.msgYouItem.msgCard .msgContent {
  transition: all .3s;
  border-radius: 6px;
}
.msgYouItem.msgCard .msgContent .msgCard {
  /*background: #ffffff;*/
  border-radius: 6px;
}
.msgYouItem.msgCard .msgContent .msgCard .msgTitle {
  color: #000;
  padding: 11px;
  font-size: 12px;
  line-height: 100%;
}
.msgYouItem.msgCard .msgContent .cardBody {
  padding: 10px;
  border-radius: 6px;
  transition: box-shadow 0.3s;
  cursor: pointer;
  position: relative;
}
.msgCard .cardIcon {
  float: left;
  position: relative;
  width: 56px;
  height: 56px;
  background-color: #06c;
  line-height: 56px;
  text-align: center;
  color: #FFF;
  font-size: 24px;
}
.msgCard .cardIcon i {
  color: #FFF;
}
.msgCard .cardIcon > img {
  width: 100%;
}
.msgCard .cardIcon .calendarIconInnerText {
  position: absolute;
  top: 4px;
  left: 0;
  color: #000;
  font-size: 14px;
  width: 100%;
  font-weight: normal;
  text-align: center;
}
.msgCard .cardContent {
  margin-left: 56px;
  min-height: 56px;
  padding: 1px 1px 17px 12px;
  font-size: 13px;
  line-height: 130%;
  color: #000;
}
.msgCard .cardMetadata {
  padding: 14px 0 0;
  height: 30px;
  font-size: 13px;
  position: absolute;
  bottom: 9px;
  left: 78px;
}
.msgCard .cardMetadata > span {
  margin-right: 6px;
  color: #bcbcbc;
}
.msgCard .cardMetadata > span::before {
  font-size: 18px;
  margin-right: 6px;
}
.msgCard .cardMetadata [class="icon-post-reply"]::before {
  font-size: 13px;
  vertical-align: 1px;
  display: inline-block;
}
.msgCard .cardMetadata [class="icon-task-news-list"]::before {
  font-size: 17px;
  margin-right: 5px;
}
.msgCard .cardContent {
  word-break: break-all;
}
.msgCard .cardContent p {
  margin: 0;
}
.msgCard .cardContent [card-title] {
  font-size: 14px;
  color: #333;
  line-height: 20px;
  margin-top: -2px;
}
.msgCard .cardContent [card-title] span {
  word-break: break-all;
}
.msgCard .cardContent [card-title] a {
  text-decoration: none;
}
.msgCard .cardContent [card-title] a:hover {
  text-decoration: underline;
}
.msgCard .cardContent [card-title-calendar] {
  font-size: 14px;
  margin-top: -2px;
  color: #3e3e3e;
  line-height: 20px;
}
.msgCard .cardMetadata [card-vote-statusinvalid] {
  display: none;
  color: #f44336;
}
.msgCard .cardMetadata [card-vote-statusvalid] {
  display: none;
  color: #4caf50;
}
.msgCard .cardMetadata [card-post-commentcount],
.msgCard .cardMetadata [card-vote-votenumber],
.msgCard .cardMetadata [card-vote-commentcount],
.msgCard .cardMetadata [card-task-sublist] {
  display: none;
}
